# Ignore archives
*.tar.xz
*.tar.gz
*.zip
*.tar.zst
*.tar.bz2

# Ignore log files
*.log

# Ignore specific git cloned repos
**/n64/*
**/nano/*
**/go-mtpfs/*

# Ignore makepkg files.
**/src*
**/pkg*

# Ignore custom file used by test script.
**/.last_successful_build_chksum
